In [1]:
import numpy as np
import pandas as pd

## 1

In [4]:
benim_sozlugum={"Larin":19, "Aboubakar":15,"Ghezzal":5}

In [5]:
pd.Series(benim_sozlugum)

Larin        19
Aboubakar    15
Ghezzal       5
dtype: int64

##  2

In [6]:
oyuncu_liste=["Larin","Aboubakar","Ghezzal"]
gol_liste=[19,15,5]

In [9]:
pd.Series(oyuncu_liste)

0        Larin
1    Aboubakar
2      Ghezzal
dtype: object

In [10]:
pd.Series(gol_liste)

0    19
1    15
2     5
dtype: int64

In [11]:
pd.Series(oyuncu_liste,gol_liste)

19        Larin
15    Aboubakar
5       Ghezzal
dtype: object

In [14]:
pd.Series(data=gol_liste,index=oyuncu_liste)

Larin        19
Aboubakar    15
Ghezzal       5
dtype: int64

## 3

In [16]:
asist_sayı= np.array([17,8,4])

In [23]:
asist_krali = ["Ghezzal","Atiba","Larin"]

In [19]:
pd.Series(asist_sayı)

0    17
1     8
2     4
dtype: int32

In [24]:
pd.Series(asist_krali)

0    Ghezzal
1      Atiba
2      Larin
dtype: object

In [25]:
pd.Series(data=asist_krali,index=asist_sayı)

17    Ghezzal
8       Atiba
4       Larin
dtype: object

## 4

In [26]:
karting_1 = pd.Series([10,8,7,5,4,3,2,1],["Onat","Melih","Burak","Samed","Mert","Çağdaş","Tolga","Onur"])

In [27]:
karting_1

Onat      10
Melih      8
Burak      7
Samed      5
Mert       4
Çağdaş     3
Tolga      2
Onur       1
dtype: int64

In [28]:
karting_1["Tolga"]

2

In [29]:
karting_2 = pd.Series([10,8,7,5,4,3,2,1],["Tolga","Samed","Kerem","Yasin","Melih","Çağdaş","Tolga","Onur"])

In [30]:
karting_2

Tolga     10
Samed      8
Kerem      7
Yasin      5
Melih      4
Çağdaş     3
Tolga      2
Onur       1
dtype: int64

In [31]:
genel_puan = karting_1+karting_2

In [32]:
genel_puan

Burak      NaN
Kerem      NaN
Melih     12.0
Mert       NaN
Onat       NaN
Onur       2.0
Samed     13.0
Tolga     12.0
Tolga      4.0
Yasin      NaN
Çağdaş     6.0
dtype: float64

## 5

In [110]:
go_kart= np.random.randint(0,20,11)

In [114]:
go_kart

array([ 4, 16, 18,  1, 10, 18, 10, 12,  6, 16, 12])

In [115]:
data_frame =pd.DataFrame(go_kart)

In [116]:
data_frame

     0
0    4
1   16
2   18
3    1
4   10
5   18
6   10
7   12
8    6
9   16
10  12

In [108]:
data_frame_2 = pd.DataFrame(go_kart,index=["Puan 1"], columns=["Tolga","Samed","Ata","Yasin","Melih","Çağdaş","Kerem","Onur","Onat","Mert","Burak"])

ValueError: Shape of passed values is (11, 1), indices imply (1, 11)

In [60]:
data_frame_2

        Puan 1
Samed       16
Mert        14
Melih       19
Onur         5
Tolga        9
Onat         0
Burak        5
Kerem       18
Yasin       10
Ata         13
Çağdaş      14

In [62]:
data_frame_2["Puan 2"]= np.random.randint(0,20,11)

In [63]:
data_frame_2

        Puan 1  Puan 2
Samed       16      14
Mert        14       3
Melih       19       7
Onur         5       6
Tolga        9       8
Onat         0       7
Burak        5       6
Kerem       18       7
Yasin       10      12
Ata         13       3
Çağdaş      14       8

In [64]:
data_frame_2["Puan 3"]= np.random.randint(0,20,11)

In [65]:
data_frame_2["Puan 4"]= np.random.randint(0,20,11)

In [66]:
data_frame_2["Puan 5"]= np.random.randint(0,20,11)

In [67]:
data_frame_2

        Puan 1  Puan 2  Puan 3  Puan 4  Puan 5
Samed       16      14      13      15      16
Mert        14       3      14       1      12
Melih       19       7       4       5      17
Onur         5       6      17       9       7
Tolga        9       8      13       8       2
Onat         0       7       7      19       5
Burak        5       6      17       7      18
Kerem       18       7       0       4       4
Yasin       10      12      19      13      17
Ata         13       3       3       3      12
Çağdaş      14       8      10      15       3

In [68]:
data_frame_3 =pd.DataFrame(go_kart,index=["Samed","Mert","Melih","Onur","Tolga","Onat","Burak","Kerem","Yasin","Ata","Çağdaş"],columns=["Puan 6"])

In [83]:
data_frame_3

        Puan 6
Samed       16
Mert        14
Melih       19
Onur         5
Tolga        9
Onat         0
Burak        5
Kerem       18
Yasin       10
Ata         13
Çağdaş      14

In [84]:
data_frame_4 = pd.concat([data_frame_2,data_frame_3],axis=1)

In [85]:
data_frame_4

        Puan 1  Puan 2  Puan 3  Puan 4  Puan 5  Puan 6
Samed       16      14      13      15      16      16
Mert        14       3      14       1      12      14
Melih       19       7       4       5      17      19
Onur         5       6      17       9       7       5
Tolga        9       8      13       8       2       9
Onat         0       7       7      19       5       0
Burak        5       6      17       7      18       5
Kerem       18       7       0       4       4      18
Yasin       10      12      19      13      17      10
Ata         13       3       3       3      12      13
Çağdaş      14       8      10      15       3      14

In [88]:
data_frame_5=data_frame_4.reset_index()

In [96]:
data_frame_5

     index  Puan 1  Puan 2  Puan 3  Puan 4  Puan 5  Puan 6
0    Samed      16      14      13      15      16      16
1     Mert      14       3      14       1      12      14
2    Melih      19       7       4       5      17      19
3     Onur       5       6      17       9       7       5
4    Tolga       9       8      13       8       2       9
5     Onat       0       7       7      19       5       0
6    Burak       5       6      17       7      18       5
7    Kerem      18       7       0       4       4      18
8    Yasin      10      12      19      13      17      10
9      Ata      13       3       3       3      12      13
10  Çağdaş      14       8      10      15       3      14

In [105]:
grup_objesi= data_frame_5.groupby("index")

In [106]:
grup_objesi.describe()

       Puan 1                                         Puan 2        ...  \
        count  mean std   min   25%   50%   75%   max  count  mean  ...
index                                                               ...
Ata       1.0  13.0 NaN  13.0  13.0  13.0  13.0  13.0    1.0   3.0  ...
Burak     1.0   5.0 NaN   5.0   5.0   5.0   5.0   5.0    1.0   6.0  ...
Kerem     1.0  18.0 NaN  18.0  18.0  18.0  18.0  18.0    1.0   7.0  ...
Melih     1.0  19.0 NaN  19.0  19.0  19.0  19.0  19.0    1.0   7.0  ...
Mert      1.0  14.0 NaN  14.0  14.0  14.0  14.0  14.0    1.0   3.0  ...
Onat      1.0   0.0 NaN   0.0   0.0   0.0   0.0   0.0    1.0   7.0  ...
Onur      1.0   5.0 NaN   5.0   5.0   5.0   5.0   5.0    1.0   6.0  ...
Samed     1.0  16.0 NaN  16.0  16.0  16.0  16.0  16.0    1.0  14.0  ...
Tolga     1.0   9.0 NaN   9.0   9.0   9.0   9.0   9.0    1.0   8.0  ...
Yasin     1.0  10.0 NaN  10.0  10.0  10.0  10.0  10.0    1.0  12.0  ...
Çağdaş    1.0  14.0 NaN  14.0  14.0  14.0  14.0  14.0    1.0   8.0  ...

       Puan 5       Puan 6
          75%   max  count  mean std   min   25%   50%   75%   max
index
Ata      12.0  12.0    1.0  13.0 NaN  13.0  13.0  13.0  13.0  13.0
Burak    18.0  18.0    1.0   5.0 NaN   5.0   5.0   5.0   5.0   5.0
Kerem     4.0   4.0    1.0  18.0 NaN  18.0  18.0  18.0  18.0  18.0
Melih    17.0  17.0    1.0  19.0 NaN  19.0  19.0  19.0  19.0  19.0
Mert     12.0  12.0    1.0  14.0 NaN  14.0  14.0  14.0  14.0  14.0
Onat      5.0   5.0    1.0   0.0 NaN   0.0   0.0   0.0   0.0   0.0
Onur      7.0   7.0    1.0   5.0 NaN   5.0   5.0   5.0   5.0   5.0
Samed    16.0  16.0    1.0  16.0 NaN  16.0  16.0  16.0  16.0  16.0
Tolga     2.0   2.0    1.0   9.0 NaN   9.0   9.0   9.0   9.0   9.0
Yasin    17.0  17.0    1.0  10.0 NaN  10.0  10.0  10.0  10.0  10.0
Çağdaş    3.0   3.0    1.0  14.0 NaN  14.0  14.0  14.0  14.0  14.0

[11 rows x 48 columns]

In [119]:
data_frame_5["Toplam Puan"]= sum(Puan 1 , Puan 2)

SyntaxError: invalid syntax (<ipython-input-119-42e1cbc1e2a5>, line 1)

## 6